/** 04.08 Roadmap */

.roadmap {
    position: relative;
    z-index: 10;
}

.roadmap-s1:before,
.roadmap-s1:after {
    position: absolute;
    content: "";
    left: -1px;
    height: 50%;
    border-left-width: 3px;
    border-left-style: solid;
    border-color: #36256b;
}

.roadmap-s1:before {
    height: 45px;
    top: 0;
}

.flex-row-reverse .roadmap-s1:before {
    right: auto;
}

.roadmap-s1:after {
    height: calc(100% - 45px);
    right: auto;
    top: 45px;
}

.roadmap-s1-alt:before,
.roadmap-s1-alt:after {
    left: 1px;
    border-left-width: 1px;
    border-left-style: dashed;
}

.flex-row-reverse .roadmap-s1-alt:before,
.flex-row-reverse .roadmap-s1-alt:after {
    right: auto;
    left: 1px;
}

.roadmap-s1-alt.roadmap-done:before,
.roadmap-s1-alt.roadmap-current:before {
    top: 0;
}

.roadmap-s1-alt.roadmap-done:after,
.roadmap-s1-alt.roadmap-current:after {
    top: 45px;
}

.roadmap-s1-alt.roadmap-done:before,
.roadmap-s1-alt.roadmap-done:after {
    left: 0px;
    border-left-width: 3px;
    border-left-style: solid;
}

.roadmap-s1-alt.roadmap-current:before {
    left: 0px;
    border-left-width: 3px;
    border-left-style: solid;
}

.roadmap-s1.roadmap-done:before,
.roadmap-s1.roadmap-done:after {
    border-color: #ff3549;
}

.roadmap-s1.roadmap-current:before {
    border-color: #ff3549;
}

.roadmap-text {
    max-width: 265px;
    margin-left: auto;
    margin-right: auto;
}

.roadmap-wrap {
    position: relative;
    padding: 40px 0 10px;
    margin-bottom: 40px;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
}

.nk-block-left .roadmap-wrap {
    margin-left: 0;
    margin-right: 0;
}

.roadmap-wrap:before,
.roadmap-wrap:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    z-index: 7;
}

.roadmap-wrap-ovl-right:after {
    right: 0;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.8) 25%, #fff 60%, #fff 100%);
}

.roadmap-wrap-s1 {
    padding-bottom: 0;
    padding-top: 0;
    max-width: 90%;
}

.roadmap-line {
    position: absolute;
    left: 19px;
    top: 0;
    background: #c1cef1;
    height: 100%;
    width: 2px;
    content: '';
    z-index: 9;
}

.roadmap-line:after,
.roadmap-line:before {
    position: absolute;
    background: #c1cef1;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    content: '';
    left: -4px;
}

.roadmap-line:before {
    top: 0;
}

.roadmap-line:after {
    bottom: 0;
}

.roadmap-step {
    border: 2px solid #dbe4f7;
    border-radius: 5px;
    position: relative;
    margin-left: 50px;
    padding: 20px 20px 15px;
    position: relative;
    max-width: 380px;
}

.roadmap-step:before,
.roadmap-step:after {
    position: absolute;
    content: '';
}

.roadmap-step:before {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 5px solid #fff;
    background: #122272;
    left: -41px;
    top: 34px;
    z-index: 1;
}

.roadmap-step:after {
    height: 2px;
    width: 22px;
    background: #dbe4f7;
    left: -22px;
    top: 42px;
}

.roadmap-step p:last-child {
    margin-bottom: 0;
}

.roadmap-step-list li:before {
    background: #415076;
}

.roadmap-step-list-s1 li::marker,
.roadmap-step-list-s1 li::marker {
    color: #6639a9;
}

.roadmap-step-list-s1 li {
    padding-top: 2px;
    position: relative;
    font-size: 16px;
    text-align: left;
}

.roadmap-step-list-s1 li:after {
    display: none;
    position: absolute;
    content: "";
    left: 10px;
    bottom: 0;
    width: 100px;
    height: 1px;
    transform: translateX(-50%);
    border-bottom: 1px rgba(255, 255, 255, 0.1) dotted;
}

.roadmap-step-list-s1 li:last-child:after {
    display: none;
}

.has-bg-image .roadmap-step:before {
    border-color: transparent;
}

.roadmap-step-s1 {
    margin-left: 0;
    border: none;
    padding-top: 0;
    padding-right: 25px;
    padding-left: 25px;
    z-index: 1;
    max-width: 100%;
}

.roadmap-step-s1:before {
    display: none;
}

.roadmap-step-s1:after {
    width: 38px !important;
    left: 0 !important;
    height: 0;
    top: 49px;
    z-index: -1;
    background: none !important;
    border-top: 1px solid;
    border-color: #dbe4f7;
}

.roadmap-s1-alt .roadmap-step-s1:after {
    border-top-style: dashed;
}

.roadmap-head {
    margin-bottom: 10px;
    padding-right: 35px;
    position: relative;
}

.roadmap-finished .roadmap-head:after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: #23c99d;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: .88rem;
    content: '\f00c';
}

.roadmap-head-s1 {
    padding-right: 0;
    margin-bottom: 0;
    line-height: 1.6;
}

.roadmap-phase {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
}

.roadmap-time {
    display: block;
    color: #122272;
    font-size: 13px;
    text-transform: uppercase;
}

.roadmap-time-s1 {
    padding-bottom: 27px;
    line-height: 26px;
    width: 100%;
    display: inline-block;
    font-weight: 700;
    font-size: 28px;
    position: relative;
    color: #fff;
    line-height: 25px;
}

.roadmap-time-s1:after,
.roadmap-time-s1:before {
    position: absolute;
    content: "";
    left: -24px;
    border-radius: 50%;
}

.roadmap-time-s1:after {
    bottom: -4px;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background: #36256b;
    border: 2px #fff solid;
}

.roadmap-time-s1:before {
    bottom: -10px;
    width: 27px;
    height: 27px;
    margin-left: -13.5px;
    margin-top: -13.5px;
}

.roadmap-done .roadmap-time-s1,
.roadmap-current .roadmap-time-s1 {
    color: #ff3549;
}

.roadmap-done .roadmap-time-s1:before,
.roadmap-current .roadmap-time-s1:before {
    background-color: #ff354940;
}

.roadmap-done .roadmap-time-s1:after,
.roadmap-current .roadmap-time-s1:after {
    background: #ff3549;
}

.roadmap-title {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.roadmap-title-s1 {
    padding-top: 15px;
    display: inline-block;
}

.roadmap-list {
    position: relative;
    padding-top: 15px;
}

.roadmap-list:after {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    content: '';
    background: #23c99d;
}

.roadmap-innr {
    padding: 0 25px 30px;
}

.roadmap-innr:before {
    position: absolute;
    left: 0;
    height: 100%;
    width: 1px;
    content: '';
    transform: translateX(-50%);
    background-image: linear-gradient(to bottom, #ff3549 0%, #23c99d 100%);
}

.roadmap-item {
    position: relative;
}

.roadmap-item:nth-child(even) .roadmap-innr:before {
    background-image: linear-gradient(to top, #ff3549 0%, #23c99d 100%);
}

@media (min-width: 576px) {
    .roadmap-wrap-ovl-right {
        max-width: none;
        margin-right: -200px;
    }
    .roadmap-wrap-ovl-right:after {
        width: 280px;
    }
    .roadmap-wrap-ovl-right .owl-nav {
        margin-right: 190px;
    }
}

@media (min-width: 992px) {
    .roadmap {
        display: flex;
    }
    .roadmap-s1:before,
    .roadmap-s1:after {
        top: 41px;
        height: 0;
        width: 50%;
        border-top-width: 3px;
        border-top-style: solid;
        border-left-width: 0;
    }
    .roadmap-s1:before {
        left: 0;
    }
    .flex-row-reverse .roadmap-s1:before {
        right: 0;
        left: auto;
    }
    .roadmap-s1:after {
        left: auto;
        right: 0;
        z-index: -1;
    }
    .flex-row-reverse .roadmap-s1:after {
        right: auto;
        left: 0;
    }
    .roadmap-s1-alt:before,
    .roadmap-s1-alt:after {
        top: 42px;
        border-top-width: 1px;
        border-top-style: dashed;
    }
    .roadmap-s1-alt:after {
        right: 0;
    }
    .roadmap-s1-alt.roadmap-done:before,
    .roadmap-s1-alt.roadmap-done:after {
        top: 41px;
        border-top-width: 3px;
        border-top-style: solid;
    }
    .roadmap-s1-alt.roadmap-done:after {
        right: 0;
        left: auto;
    }
    .roadmap-s1-alt.roadmap-current:before {
        top: 41px;
        border-top-width: 3px;
        border-top-style: solid;
    }
    .roadmap-s1-alt.roadmap-current:after {
        top: 42px;
    }
    .roadmap-wrap {
        padding: 40px 0 10px;
        margin-bottom: 60px;
        max-width: 100%;
    }
    .roadmap-wrap-ovl-left,
    .roadmap-wrap-ovl-right {
        max-width: none;
    }
    .roadmap-wrap-s1 {
        padding-top: 0;
    }
    .roadmap-wrap-s1:after {
        position: absolute;
        width: 15px;
        height: calc(100% + 3px);
        border-width: 3px;
        border-style: solid;
        border-color: #dbe4f7;
        top: 41px;
    }
    .roadmap-wrap-s1-alt:after {
        height: calc(100% + 1px);
        border-width: 1px;
        border-style: dashed;
        top: 42px;
    }
    .roadmap-wrap-s1-alt.roadmap-wrap-done:after {
        height: calc(100% + 3px);
        border-width: 3px;
        border-style: solid;
        top: 41px;
    }
    .roadmap-wrap-s1.roadmap-wrap-done:after {
        border-color: #ff3549;
    }
    .roadmap-wrap-s1:nth-child(odd):after {
        right: -15px;
        border-radius: 0 20px 20px 0;
        border-left-width: 0;
    }
    .roadmap-wrap-s1:nth-child(even):after {
        left: -15px;
        border-radius: 20px 0px 0px 20px;
        border-right-width: 0;
    }
    .roadmap-wrap-s1:last-child:after {
        display: none;
    }
    .roadmap-line {
        left: 50%;
        margin-left: -1px;
    }
    .roadmap-left {
        justify-content: flex-start;
        margin-top: -80px;
    }
    .roadmap-left .roadmap-step {
        margin-left: 0;
        margin-right: 80px;
    }
    .roadmap-left .roadmap-step:before {
        left: auto;
        right: -91px;
    }
    .roadmap-left .roadmap-step:after {
        left: auto;
        right: -78px;
    }
    .roadmap-right {
        justify-content: flex-end;
    }
    .roadmap-right .roadmap-step {
        margin-left: 80px;
    }
    .roadmap-step {
        width: 100%;
        padding: 40px 30px 35px;
    }
    .roadmap-step:before,
    .roadmap-step:after {
        position: absolute;
        content: '';
    }
    .roadmap-step:before {
        left: -91px;
    }
    .roadmap-step:after {
        width: 78px;
        left: -78px;
    }
    .roadmap-step-list li:before {
        top: 12px;
    }
    .roadmap-step-list-s1 li:after {
        left: 50%;
    }
    .roadmap-step-s1 {
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .roadmap-step-s1:after {
        width: 0 !important;
        left: 50% !important;
        margin-left: -0.5px;
        height: 20px !important;
        top: 48px;
        border-top: 0;
        border-left: 1px solid;
        border-color: #dbe4f7;
    }
    .roadmap-s1-alt .roadmap-step-s1:after {
        border-left-style: dashed;
    }
    .roadmap-head {
        margin-bottom: 15px;
    }
    .roadmap-time-s1:after {
        left: 50%;
        bottom: 0px;
    }
    .roadmap-time-s1:before {
        bottom: -5px;
        left: 50%;
    }
    .roadmap-title-s1 {
        padding-top: 48px;
    }
    .roadmap-list {
        display: flex;
        align-items: flex-end;
        margin-bottom: 200px;
    }
    .roadmap-item {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .roadmap-item:nth-child(even) {
        flex-grow: 0;
        width: 0;
    }
    .roadmap-item:nth-child(even) .roadmap-innr {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 90px;
        min-width: 190px;
        transform: translateX(calc(-50% + 5px));
    }
    .roadmap-item:nth-child(even) .roadmap-innr:before {
        top: 0;
        height: 90px;
    }
    .roadmap-item-sm {
        min-height: 170px;
    }
    .roadmap-item-lg {
        min-height: 300px;
    }
}

@media (min-width: 1200px) {
    .roadmap-left .roadmap-step:before {
        right: -86px;
    }
    .roadmap-left .roadmap-step:after {
        right: -73px;
    }
    .roadmap-step:before {
        left: -86px;
    }
    .roadmap-step:after {
        width: 73px;
        left: -73px;
    }
    .roadmap-step-s1:before {
        left: 50%;
    }
    .roadmap-step-list-s1 {
        width: 360px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:1023px) {
    .roadmap {
        padding-bottom: 30px;
    }
    .roadmap-phase {
        left: 0;
        transform: translateX(0);
    }
    .roadmap-time-s1 {
        padding-bottom: 10px;
    }
    .roadmap-step-s1:after {
        display: none;
    }
    .roadmap-time-s1:before {
        bottom: auto;
        top: 13.5px;
    }
    .roadmap-time-s1:after {
        bottom: auto;
        top: 13.5px;
    }
    .roadmap-step-list-s1 {
        margin-left: 0;
    }
}