html,
body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Rajdhani, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    color: #cacaca;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden!important;
    background-color: #231A37;
    background-image: url(../images/bg.png);
    /* background-attachment: fixed; */
    background-size: 100% auto;
    background-position: center bottom;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.tq_btn {
    position: relative;
    width: auto;
    margin: 0;
    font-family: Rajdhani, sans-serif;
    font-size: 17px;
    line-height: 2em;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    outline: 0;
    box-sizing: border-box;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    padding: 10px 65px;
    cursor: pointer;
    border: 2px solid #6b54b6;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.tq_download_button2 {
    padding: 2px 16px !important;
    font-size: 14px !important;
}

.tq_download_button2:hover {
    color: #ffffff;
}

.ml-10 {
    margin-left: 5px;
}

.tq_store_icon {
    width: 14px;
    height: 14px;
}

.tq_btn_text {
    position: relative;
    z-index: 2;
}

.tq_btn_hover {
    background-color: #6b54b6;
    position: absolute;
    display: block;
    top: 104%;
    left: -114%;
    width: 150%;
    height: 600%;
    z-index: 1;
    transform: rotate( 45deg) translate3d(0, 0, 0);
    transition: .5s cubic-bezier(.24, .69, .12, .9);
    pointer-events: none;
}

.tq_btn:hover .tq_btn_hover {
    transition: .5s cubic-bezier(.1, .48, .25, .86);
    transform: rotate( 45deg) translate3d(0, -85%, 0);
}

.tq_btn_outline {
    background-color: transparent!important;
    border: 2px solid #6b54b6;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));
}

.tq_btn_outline::before,
.tq_btn_outline::after {
    content: "";
    position: absolute;
    background-color: #6b54b6;
    width: 60px;
    height: 2px;
    transform: rotate( 45deg);
}

.tq_btn_outline::before {
    top: 0;
    right: -14px;
}

.tq_btn_outline::after {
    bottom: 0;
    left: -14px;
}


/* Button outline primary */

.tq_btn_outline_primary {
    color: #fff!important;
    border-color: #6b54b6!important;
}

.tq_btn_outline_primary:hover {
    background-color: #6b54b6!important;
}


/* Button outline danger */

.tq_btn_outline_danger,
.tq_btn_danger {
    color: #fff!important;
    border-color: #ff3549!important;
}

.tq_btn_outline_danger:hover,
.tq_btn_danger {
    background-color: #ff3549!important;
}

.tq_btn_outline_danger::before,
.tq_btn_outline_danger::after,
.tq_btn_danger::before,
.tq_btn_danger::after {
    background-color: #ff3549;
}

.tq_btn_outline_danger .tq_btn_hover {
    background-color: #ff3549;
}

.tq_btn_danger .tq_btn_hover {
    background-color: #af2331;
}

.tq_btn_primary_fill {
    background-color: #6b54b6!important;
}

.tq_btn_primary_fill::before,
.tq_btn_primary_fill::after {
    background-color: #6b54b6;
}

.tq_btn_primary_fill .tq_btn_hover {
    background-color: #4b3692;
}

.tq_btn_primary_fill:hover {
    background-color: #4b3692!important;
    border-color: #6b54b6 !important;
}

.tq_btn_primary_fill::before,
.tq_btn_primary_fill::after {
    background-color: #6b54b6;
}


/* Button play */

.tq_btn_play {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tq_btn_play span {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
    color: #ff3549 !important;
}

.tq_btn_play .fas {
    font-size: 16px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ff3549;
    border: 1px #ff3549 solid;
    transition: all ease-in-out .3s;
    transform-origin: center center;
    line-height: 1;
    position: relative;
}

.tq_btn_play .fas::after {
    position: absolute;
    content: "";
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    border-radius: 50%;
    border: 1px solid #ff3549;
    animation: playbutton 1s infinite;
}

.tq_btn_play:hover .fas {
    transform: scale(1.1);
}


/* Form control */

.form-control {
    position: relative;
    width: 100%;
    margin: 0 0 10px;
    padding: 24px 33px;
    font-family: inherit;
    font-size: 17px;
    font-weight: 600;
    font-weight: inherit;
    line-height: calc(63px - (48px - 2px));
    color: #fff !important;
    background-color: #22152c !important;
    border: none;
    border-radius: 0 !important;
    outline: 0;
    cursor: text;
    box-sizing: border-box;
    transition: border-color .2s ease-in-out;
    filter: drop-shadow(0 3px 7px rgba(14, 8, 18, .44));
    outline: none !important;
    box-shadow: none !important;
    position: relative;
}

.form-control {
    background-color: #36256b80 !important;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, .4);
}

.form-group {
    position: relative;
}

.form-control-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #6b54b6;
    transition: all ease-in-out .2s;
}

.form-control:focus+.form-control-border {
    width: 100%;
}

.accordion-body {
    background-color: #22152c;
    font-size: 18px;
}

.accordion-body {
    background-color: #36256b40 !important;
}

.fs-18 {
    font-size: 18px;
}


/* Modal */

.modal-backdrop.show {
    opacity: .8;
}

.tq_modal .modal-content {
    background-color: transparent;
    border: 0;
}

.tq_modal .modal-header {
    padding: 10px 20px 5px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
    background-image: url(../images/header-top-title-bg.png);
    background-size: auto 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: -2px;
    border: 0;
    justify-content: center;
}

.tq_modal .modal-body {
    padding: 40px;
    border-radius: 0 20px 0 20px;
    box-shadow: 5px 0 24px rgb(0 0 0 / 20%);
    background-color: #21144870;
    position: relative;
    min-height: 50vh;
    color: #d2d2d2;
    font-weight: 500;
    line-height: 1.8;
    position: relative;
}

.tq_modal .modal-body::before,
.tq_modal .modal-body::after {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    width: 45px;
    border: 2px solid #6b54b6ab;
    transition: all .4s;
}

.tq_modal .modal-body::before {
    left: 0;
    border-radius: 6px 0 0 6px;
    border-right: none;
}

.tq_modal .modal-body::after {
    right: 0;
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.tq_modal .modal-body>img {
    position: absolute;
    top: -24%;
    left: -48%;
    max-height: 60vh;
}

.tq_modal .btn-close {
    transform: scale(.8);
    width: 6px;
    height: 6px;
    outline: none !important;
    box-shadow: none !important;
    margin-right: -20px !important;
    margin-bottom: 1px;
    transform-origin: center right;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23503B86'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.no-after::after {
    display: none !important;
}

.block_ui_button {
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));
}

.block_ui_button .block-ui-overlay {
    background-color: #7766a2;
}

.image-gallery {
    max-height: 100%;
}

@keyframes playbutton {
    0% {
        transform: scale(.75);
        opacity: 1
    }
    100% {
        transform: scale(1.3);
        opacity: 0
    }
}

@media(max-width:1024px) {
    .tq_modal .modal-body>img {
        display: none;
    }
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #6b54b6;
    outline: 1px solid slategrey;
}

.fw-600 {
    font-weight: 600;
}

@media(max-width:1023px) {
    .mat-new-image {
        height: 200px !important;
    }
}

@media(max-width:767px) {
    body {
        padding-top: 80px;
    }
    .mat-new-image {
        height: 180px !important;
    }
}

.tq_banner {
    width: 100%;
    background-image: url('../images/new-banner.png');
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
}

.tq_banner>img {
    visibility: hidden;
}

@media(max-width:992px) {
    .tq_banner {
        background-image: url('../images/new-mobile-banner.png');
    }
    .tq_banner .tq_btn_play {
        bottom: 0;
    }
}

@media(max-width:330px) {
    body {
        min-width: 336px;
    }
}

.hub-core-team-body {
    /* max-height: 0;
    overflow: hidden; */
    transition: all ease-in-out .3s;
}

.hub-core-team:hover .hub-core-team-body {
    /* max-height: 12000px; */
}

.anim-wrap {
    position: relative;
}

.anim-arrow-left,
.anim-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width:767px) {
    .anim-arrow-left {
        display: none;
    }
    .anim-arrow-right {
        top: auto;
        transform: translateY(0);
        bottom: 5px;
    }
}

.anim-arrow-left {
    left: -80px;
    animation: animarrowleft 1.2s infinite;
    transition: all ease-in-out .3s;
}

.anim-arrow-right {
    right: -80px;
    animation: animarrowright 1.2s infinite;
    transition: all ease-in-out .3s;
}

@keyframes animarrowleft {
    0% {
        left: -100px;
    }
    50% {
        left: -80px;
    }
    100% {
        left: -100px;
    }
}

@keyframes animarrowright {
    0% {
        right: -100px;
    }
    50% {
        right: -80px;
    }
    100% {
        right: -100px;
    }
}

.mat-new {
    margin-bottom: 40px;
}

.mat-new a {
    display: block;
}

.mat-new-image {
    height: 230px;
    overflow: hidden;
    margin-bottom: 15px;
    clip-path: polygon(0 0, calc(100% - 18px) 0, 100% 18px, 100% 100%, 18px 100%, 0 calc(100% - 18px));
    transition: all ease-in-out .3s;
}

.mat-new a:hover .mat-new-image img {
    transform: scale(1.1);
}

.mat-new-image img {
    transform-origin: center;
    transition: all ease-in-out .3s;
    max-width: 100%;
    object-fit: cover;
}

.mat-new-title a {
    text-decoration: none;
    color: #fff;
    display: block;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    font-size: 20px;
    max-width: 100%;
    font-weight: 600;
    transition: all ease-in-out .3s;
}

.mat-new>a:hover+.mat-new-title a,
.mat-new-title a:hover {
    color: #a189ee;
}

.mat-new-description {
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.owl-prev,
.owl-next {
    background: rgb(107 84 182) !important;
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
    border-radius: 0 !important;
    top: 100px;
    position: absolute;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out .3s;
}

.owl-prev.disabled,
.owl-next.disabled {
    opacity: 0;
}

.owl-prev span,
.owl-next span {
    font-size: 40px;
    line-height: 1;
}

.owl-prev {
    left: 0 !important;
}

.owl-next {
    right: 0 !important;
}


/* #1. LOADING */

.tq_loading {
    background-color: #231A37;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    user-select: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tq_loading img {
    transition: all ease-in-out .3s;
    transform-origin: center center;
    animation: loadingEffect 2s infinite;
}

@keyframes loadingEffect {
    0% {
        transform: scale(1);
        opacity: .3;
    }
    50% {
        transform: scale(1.1);
        opacity: .7;
    }
    100% {
        transform: scale(1);
        opacity: .3;
    }
}


/* #2. Navigation */

.tq_navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-out;
    z-index: 999;
    background-color: rgba(33, 20, 72, 0.6);
    box-shadow: 3.5px 6.1px 30px rgb(0 0 0 / 57%);
}

.tq_navigation_navbar {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
}

.tq_navigation img {
    height: 120px;
}

.tq_navigation_navbar_nav {
    min-height: 40px;
}

.tq_navigation_navbar_nav a {
    padding: 0;
    display: flex;
    height: 100%;
}

.tq_navigation_navbar_nav a span {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-size: 17px;
    letter-spacing: .1em;
    box-sizing: border-box;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff !important;
    opacity: 1;
}

.tq_navigation_navbar_nav a span::after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #ff3549;
    transform-origin: left;
    transform: scaleX(0);
    transition: .3s cubic-bezier(.47, .11, 0, .96);
}

.tq_navigation_navbar_nav a.active span::after,
.tq_navigation_navbar_nav a.tq_nav_active span::after,
.tq_navigation_navbar_nav a:hover span::after {
    transform: scaleX(1);
}

@media(min-width:1400px) {
    .tq_mx_1400 {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
}

@media(min-width:1025px) {
    .tq_navigation {
        height: 138px;
        display: flex;
        align-items: center;
    }
}

@media(max-width:1024px) {
    .tq_navigation {
        position: relative;
        padding: 0;
    }
    .tq_navigation img {
        height: 60px;
    }
    .tq_navigation_navbar {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        transition: all 0.3s ease-out;
        z-index: 999;
        background-color: rgba(33, 20, 72, 1);
        box-shadow: 3.5px 6.1px 30px rgb(0 0 0 / 57%);
    }
    .tq_navigation_navbar_nav a {
        padding: 10px 12px !important;
        text-align: right;
    }
    .tq_navigation_navbar_nav a span {
        display: inline !important;
    }
}

@media(max-width:992px) {}

@media(max-width:767px) {}


/* #3. Banner */

.tg_feature_play {
    width: 52px;
    height: 52px;
    margin: -100px auto 30px auto;
    background-color: #ff3549;
    border-radius: 50%;
    transform-origin: center center;
    position: relative;
    z-index: 2;
}

.tg_feature_play:hover {
    transform: scale(1.1);
    transition: all ease-in-out .3s;
}

.tg_feature_play i {
    color: #fff !important;
}

@media(max-width:992px) {
    .tg_feature_play {
        margin-top: -20px;
    }
}


/* #4. Scrolldown */

.mouse_scroll {
    opacity: .8;
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}

.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-delay: alternate;
}

.doi {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    animation-delay: .2s;
    animation-direction: alternate;
    margin-top: -6px;
}

.trei {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    animation-delay: .3s;
    animation-direction: alternate;
    margin-top: -6px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-o-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@media(max-width:576px) {
    .mouse_scroll {
        bottom: -10px;
    }
}

@media(max-width:767px) {
    .mouse_scroll {
        display: none;
    }
}

@media(max-width:1200px) and (min-width:769px) {
    /* .mouse_scroll {
        display: none;
    } */
    .mouse_scroll {
        bottom: 50px;
    }
}

@media(max-width:992px) {
    .mouse_scroll {
        display: none;
    }
}


/* #5. About Us */

.tq_about_us {
    padding: 120px 0 80px 0;
    position: relative;
}

.tq_about_us_title {
    padding: 0 0 0 45px;
    overflow: hidden;
    position: relative;
}

.tq_about_us_title h1 {
    font-size: 76px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.tq_about_us_sub_title {
    position: absolute;
    bottom: 4px;
    left: 6px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    transform: rotate( -90deg) translateX(0)!important;
    transform-origin: left center;
}

.tq_about_us_sub_title span {
    color: #ff3549;
}

.tq_about_us_body {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}

@media(max-width:1024px) {
    .tq_about_us_title h1 {
        font-size: 58px;
    }
    .tq_about_us_sub_title {
        letter-spacing: .1em;
        font-size: 12px;
        bottom: -8px;
    }
}

@media(max-width:992px) {
    .tq_about_us {
        padding: 10px 0 50px 0;
    }
}

@media(max-width:767px) {
    .tq_about_us_title {
        padding-left: 30px;
    }
    .tq_about_us_sub_title {
        left: 12px;
        bottom: 0;
    }
    .tq_about_us_title h1 {
        font-size: 42px;
    }
    .tq_about_us_sub_title {
        letter-spacing: .1em;
        font-size: 9px;
        bottom: -8px;
    }
}

@media(min-width:1200px) {
    .img_110_xl {
        max-width: 105% !important;
    }
}


/* #6. Game */

.tq_game {
    padding: 140px 0 80px 0;
    position: relative;
}

.tq_game_title {
    padding: 0 45px 0 0;
    overflow: hidden;
    position: relative;
}

.tq_game_title h1 {
    font-size: 76px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    text-align: right;
    position: relative;
    z-index: 2;
}

.tq_game_sub_title {
    position: absolute;
    bottom: 4px;
    right: 6px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    transform: rotate( -90deg) translateX(100%)!important;
    transform-origin: right center;
}

.tq_game_sub_title span {
    color: #ff3549;
}

.tq_game_body {
    padding-top: 20px;
    font-size: 18px;
    text-align: justify;
}

.game_features {
    padding-top: 150px;
}

.game_features_title {
    padding: 0 0 0 45px;
}

.game_features_title h1 {
    text-align: left;
}

.tq_game_features_sub_title {
    transform: rotate( -90deg) translateX(0)!important;
    left: 6px !important;
    right: auto !important;
    transform-origin: left center !important;
}

.tg_feature_item {
    min-height: calc(100% - 28px);
    margin-bottom: 28px;
    background-color: #21144820;
    padding: 28px;
    transition: .3s cubic-bezier(.21, .04, 0, 1.07);
    position: relative;
}

.tg_feature_item::before,
.tg_feature_item::after {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    width: 45px;
    border: 2px solid #36256b;
    transition: all .4s;
}

.tg_feature_item::before {
    left: 0;
    border-radius: 6px 0 0 6px;
    border-right: none;
}

.tg_feature_item::after {
    right: 0;
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.tg_feature_image {
    /* height: 175px; */
    overflow: hidden;
    margin-bottom: 20px;
    transition: .3s cubic-bezier(.21, .04, 0, 1.07);
    position: relative;
    cursor: pointer;
}

.tg_feature_item:hover {
    clip-path: polygon(0 0, calc(100% - 24px) 0, 100% 24px, 100% 100%, 24px 100%, 0 calc(100% - 24px));
    /* transform: translateY(-10px); */
}

.tg_feature_item:hover .tg_feature_image {
    clip-path: polygon(0 0, calc(100% - 18px) 0, 100% 18px, 100% 100%, 18px 100%, 0 calc(100% - 18px));
}

.tg_feature_item:hover::after {
    border-top: 0;
}

.tg_feature_item:hover::before {
    border-bottom: 0;
}

.tg_feature_image img {
    max-width: 100%;
    object-fit: cover;
}

.tg_feature_name {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;
}

.tg_feature_description {
    font-size: 16px;
    text-align: justify;
    cursor: pointer;
}

.feature_image_modal {
    max-height: calc(100vh - 100px);
    min-height: auto !important;
}

.feature_image_modal img {
    width: auto !important;
    max-width: 100%;
    margin: 0 auto;
    max-height: calc(100vh - 3.5rem - 100px)!important;
    object-fit: cover !important;
}

.tg_feature_play {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    background-color: #ff3549;
    border-radius: 50%;
    transform-origin: center center;
}

.tg_feature_play:hover {
    transform: scale(1.1) translateX(-50%);
    transition: all ease-in-out .3s;
}

.tg_feature_play i {
    color: #fff !important;
}

.img_nft {
    margin-top: -100px;
}

@media(max-width:1400px) {
    .img_nft {
        margin-top: -150px;
    }
}

@media(max-width:1200px) {
    .img_nft {
        margin-top: -200px;
    }
}

@media(max-width:1024px) {
    .tq_game_title h1 {
        font-size: 58px;
    }
    .tq_game_sub_title {
        bottom: -4px;
        letter-spacing: .2em;
        font-size: 12px;
    }
    .img_nft {
        margin-top: -150px;
    }
}

@media(max-width:992px) {
    .img_nft {
        margin-top: -50px;
    }
    .tq_game {
        padding: 50px 0;
    }
    .tg_feature_name {
        font-size: 17px;
    }
    .tg_feature_description {
        font-size: 16px;
    }
}

@media(max-width:767px) {
    .img_nft {
        margin-top: 0px;
    }
    .tq_game_title {
        padding-right: 30px;
    }
    .tq_game_sub_title {
        right: 12px;
        bottom: 0;
    }
    .tq_game_title h1 {
        font-size: 42px;
    }
    .tq_game_sub_title {
        bottom: -5px;
        letter-spacing: .1em;
        font-size: 8px;
    }
}


/* #7. Roadmap */

.tq_road_map {
    padding: 140px 0 80px 0;
    position: relative;
}

.tq_road_map_title {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.tq_road_map_title h1 {
    font-size: 76px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
    color: #fff;
}

.tq_road_map_title p {
    font-size: 20px;
    margin-top: 10px;
}

.tq_road_map_body {
    padding-top: 20px;
}

.tq_road_map_data {
    display: block;
    margin-top: 40px;
    position: relative;
    padding: 25px 0;
}

.tq_road_map_data:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 10px;
    border-radius: 4px;
    background-color: #ff3549;
}

.tq_road_map_data>li {
    display: block;
    position: relative;
    margin-bottom: 20px;
    padding-left: 40px;
    font-size: 16px;
    min-width: 250px;
    line-height: 1.4;
}

.tq_road_map_data>li span {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.tq_road_map_data>li:before,
.tq_road_map_data>li:after {
    content: '';
    position: absolute;
    display: block;
}

.tq_road_map_data>li:before {
    width: 16px;
    height: 16px;
    left: 4px;
    top: 10px;
    border: 2px #d4d4d4 solid;
    background-color: #36256b;
    z-index: 2;
    border-radius: 50%;
}

.tq_road_map_data>li:after {
    height: calc(100% + 30px);
    width: 4px;
    left: 10px;
    top: 15px;
    background-color: #36256b;
    z-index: 1;
}

.tq_road_map_data>li.tq_road_map_data_active span,
.tq_road_map_data>li.tq_road_map_data_start span {
    color: #ff3549;
}

.tq_road_map_data>li.tq_road_map_data_active::before,
.tq_road_map_data>li.tq_road_map_data_start::before {
    background-color: #ff3549;
    border-color: #fff;
    box-shadow: -1px 0px 16px #fff;
}

.tq_road_map_data>li.tq_road_map_data_active:after {
    background-color: #ff3549;
}

.tq_road_map_data>li:last-child {
    margin-bottom: 0;
}

.tq_road_map_data>li ul {
    padding-left: 20px;
    margin-top: 5px;
}

.tq_road_map_data>li ul li {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .tq_road_map_data {
        padding: 35px 0;
        margin-top: 50px;
    }
    .tq_road_map_data>li {
        margin-bottom: 35px;
    }
}

@media (min-width: 1200px) {
    .tq_road_map_data {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        margin-top: 70px;
        width: 100%;
    }
    .tq_road_map_data:before {
        width: auto;
        height: 4px;
        top: 52px;
        left: 0;
        right: 0;
    }
    .tq_road_map_data>li {
        display: block;
        padding-left: 0;
        margin: 0 15px;
    }
    .tq_road_map_data>li span {
        margin-bottom: 60px;
    }
    .tq_road_map_data>li:before {
        top: 46px;
        left: 0;
    }
    .tq_road_map_data>li:after {
        top: 52px;
        left: 15px;
        width: calc(100% + 30px);
        height: 4px;
    }
}

@media(max-width:1024px) {
    .tq_road_map_title h1 {
        font-size: 58px;
    }
}

@media(max-width:992px) {
    .tq_road_map {
        padding: 50px 0;
    }
}

@media(max-width:767px) {
    .tq_road_map_title h1 {
        font-size: 42px;
    }
}


/* #8.  */

.tq_tokens {
    padding: 140px 0 80px 0;
    position: relative;
}

.tq_tokens_title {
    padding: 0 0 0 45px;
    overflow: hidden;
    position: relative;
}

.tq_tokens_title h1 {
    font-size: 76px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.tq_tokens_sub_title {
    position: absolute;
    bottom: -4px;
    left: 6px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .07em;
    color: #fff;
    transform: rotate( -90deg) translateX(0)!important;
    transform-origin: left center;
}

.tq_tokens_sub_title span {
    color: #ff3549;
}

.tq_tokens_body {
    padding-top: 80px;
}

.chart_data {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    padding: 0;
}

.chart_data li {
    padding: 10px;
}

.chart_data_item {
    position: relative;
    padding: 15px 25px;
    background-color: #21144820;
}

.chart_data_item:before,
.chart_data_item:after {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    width: 45px;
    border: 2px solid #36256b;
    transition: all .4s;
}

.chart_data_item:before {
    left: 0;
    border-radius: 6px 0 0 6px;
    border-right: none;
}

.chart_data_item:after {
    right: 0;
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.chart_label {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    transition: all .4s;
}

.chart_info {
    display: block;
}

.chart_percent {
    font-size: 22px;
    color: #fff;
}

.chart_sublabel {
    font-size: 13px;
    color: #8ca2e5;
    margin-left: 8px;
}

.active .chart_data_item:before,
.active .chart_data_item:after {
    border-color: #ff3549 !important;
}

.active .chart_label {
    color: #ff3549 !important;
}

.chart_data_item:hover:before,
.chart_data_item:hover:after {
    border-color: #ff3549 !important;
}

.chart_data_item:hover .chart_label {
    color: #ff3549 !important;
}


/*  */

.token_info_item {
    position: relative;
    padding-left: 25px;
    margin-bottom: 25px;
}

.token_info_item:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    content: '';
    border-radius: 2px;
    background: #36256b;
    transition: all ease-in-out .3s;
}

.token_info_item:hover::before {
    background: #ff3549;
}

.token_info_title {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
}

.token_info_des {
    color: #fff;
    font-weight: bold;
}

@media (min-width: 576px) {
    .chart_label,
    .chart_percent {
        font-size: 18px;
    }
    .token_info_title {
        font-size: 0.88rem;
        letter-spacing: 0.1em;
    }
    .token_info_des {
        font-size: 1.375rem;
    }
}

@media(max-width:1024px) {
    .tq_tokens_title h1 {
        font-size: 58px;
    }
    .tq_tokens_sub_title {
        letter-spacing: .1em;
        font-size: 12px;
        bottom: -6px;
    }
}

@media(max-width:992px) {
    .tq_tokens {
        padding: 50px 0;
    }
}

@media(max-width:767px) {
    .tq_tokens_title {
        padding-left: 30px;
    }
    .tq_tokens_sub_title {
        left: 12px;
        bottom: 0;
    }
    .tq_tokens_title h1 {
        font-size: 42px;
    }
    .tq_tokens_sub_title {
        letter-spacing: .15em;
        font-size: 9px;
        bottom: -6px;
    }
}


/* #9. Teams */

.tq_teams {
    padding: 250px 0 80px 0;
    position: relative;
}

.tq_teams_title {
    padding: 0 45px 0 0;
    overflow: hidden;
    position: relative;
}

.tq_teams_title h1 {
    font-size: 76px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    text-align: right;
}

.tq_teams_sub_title {
    position: absolute;
    bottom: 4px;
    right: 6px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    transform: rotate( -90deg) translateX(100%)!important;
    transform-origin: right center;
}

.tq_teams_sub_title span {
    color: #ff3549;
}

.tq_teams_body {
    padding-top: 80px;
}

.tq_team {
    display: block;
    filter: drop-shadow(0 3px 7px rgba(14, 8, 18, .44));
    margin-bottom: 24px;
}

.tq_team_inner {
    padding: 28px;
    box-sizing: border-box;
    background-color: #21144820;
    text-align: center;
    transition: .3s cubic-bezier(.21, .04, 0, 1.07);
    position: relative;
    /* clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px); */
}

.tq_team_inner::before,
.tq_team_inner::after {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    width: 45px;
    border: 2px solid #36256b;
    transition: all .4s;
}

.tq_team_inner::before {
    left: 0;
    border-radius: 6px 0 0 6px;
    border-right: none;
}

.tq_team_inner::after {
    right: 0;
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.tq_team:hover .tq_team_inner::after {
    border-top: 0;
}

.tq_team:hover .tq_team_inner::before {
    border-bottom: 0;
}

.tq_team:hover .tq_team_inner {
    /* clip-path: polygon(0 0, calc(100% - 24px) 0, 100% 24px, 100% 100%, 24px 100%, 0 calc(100% - 24px)); */
    transform: translateY(-10px);
}

.tq_team_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 245px; */
    margin: 0;
    margin-bottom: 24px;
    overflow: hidden;
    clip-path: polygon(0 0, calc(100% - 18px) 0, 100% 18px, 100% 100%, 18px 100%, 0 calc(100% - 18px));
}

.tq_team_avatar img {
    height: auto;
    max-width: 100%;
}

.tq_team_name {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 6px;
    transition: color ease-in-out .3s;
    white-space: nowrap;
}

.tq_team_title {
    color: #a189ee;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43em;
    letter-spacing: .1em;
    font-family: Rajdhani, sans-serif;
    text-transform: uppercase;
    transition: color ease-in-out .3s;
}

.tq_team:hover .tq_team_name,
.tq_team:hover .tq_team_title {
    color: #ff3549;
}

.tq_team:hover .tq_team_inner::before,
.tq_team:hover .tq_team_inner::after {
    border-color: #ff3549;
}

.tq_team_socials {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    display: none;
}

.tq_team_socials a {
    color: #fff;
    font-size: 24px;
    opacity: .7;
    transform-origin: center center;
    transition: all ease-in-out .3s;
}

.tq_team:hover .tq_team_socials a {
    transform: scale(1.1);
}

.tq_team_socials a:hover {
    opacity: 1;
}

.team_popup_photo {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transition: all .4s;
    z-index: 2;
}

.team_popup_photo img {
    max-width: 100%;
}

.team_popup_info {
    font-size: 16px;
}

.team_popup_name {
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
}

.team_popup_position {
    color: #fff;
    font-size: 20px;
    border-bottom: 1px rgba(255, 255, 255, .1) solid;
    margin-bottom: 15px;
    padding-bottom: 8px;
}

.team_popup_social {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-bottom: -20px;
}

.team_popup_social li {
    display: inline-block;
    padding-right: 8px;
}

.team_popup_social li a {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    line-height: 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    color: #fff !important;
    background: #6b54b6;
    transition: all 0.5s;
}

.team_popup_social li a .telegram {
    font-size: 32px !important;
}

@media(max-width:1200px) {
    .tq_teams {
        padding: 100px 0 80px 0;
    }
}

@media(max-width:1024px) {
    .tq_teams_title h1 {
        font-size: 58px;
    }
    .tq_teams_sub_title {
        bottom: -5px;
        letter-spacing: .1em;
        font-size: 11px;
    }
}

@media(max-width:992px) {
    .tq_teams {
        padding: 50px 0;
    }
    .team_popup_social {
        margin-bottom: 0px;
    }
}

@media(max-width:767px) {
    .tq_teams_title {
        padding-right: 30px;
    }
    .tq_teams_sub_title {
        right: 12px;
        bottom: 0;
    }
    .tq_teams_title h1 {
        font-size: 42px;
    }
    .tq_teams_sub_title {
        bottom: -5px;
        letter-spacing: .1em;
        font-size: 8px;
    }
}


/* #10.  */

.tq_partners {
    padding: 250px 0 80px 0;
}

.tq_partners_title {
    padding: 0 0 0 45px;
    overflow: hidden;
    position: relative;
}

.tq_partners_title h1 {
    font-size: 76px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.tq_partners_sub_title {
    position: absolute;
    bottom: 4px;
    left: 6px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff;
    transform: rotate( -90deg) translateX(0)!important;
    transform-origin: left center;
}

.tq_partners_sub_title span {
    color: #ff3549;
}

.tq_partners_body {
    padding-top: 50px;
}

.tq_partner {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: #21144820;
    text-align: center;
    transition: .3s cubic-bezier(.21, .04, 0, 1.07);
    position: relative;
    margin-bottom: 24px;
    transition: .3s cubic-bezier(.21, .04, 0, 1.07);
    filter: drop-shadow(0 3px 7px rgba(14, 8, 18, .44));
}

.tq_partner::before,
.tq_partner::after {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    width: 45px;
    border: 2px solid #36256b;
    transition: all .4s;
}

.tq_partner::before {
    left: 0;
    border-radius: 6px 0 0 6px;
    border-right: none;
}

.tq_partner::after {
    right: 0;
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.tq_partner:hover {
    transform: translateY(-10px);
    clip-path: polygon(0 0, calc(100% - 16px) 0, 100% 16px, 100% 100%, 16px 100%, 0 calc(100% - 16px));
}

.tq_partner:hover::after {
    border-top: 0;
}

.tq_partner:hover::before {
    border-bottom: 0;
}

.tq_partner img {
    height: auto;
    max-height: 55px;
    object-fit: contain;
}

@media(max-width:1024px) {
    .tq_partners_title h1 {
        font-size: 58px;
    }
    .tq_partners_sub_title {
        bottom: -5px;
        font-size: 11px;
    }
}

@media(max-width:992px) {
    .tq_partners {
        padding: 50px 0;
    }
}

@media(max-width:767px) {
    .tq_partners_title {
        padding-left: 30px;
    }
    .tq_partners_sub_title {
        left: 12px;
        bottom: 0;
    }
    .tq_partners_title h1 {
        font-size: 42px;
    }
    .tq_partners_sub_title {
        letter-spacing: .15em;
        font-size: 9px;
        bottom: -6px;
    }
}


/* #11. Media */

.tq_medias {
    padding: 50px 0 80px 0;
}

.tq_medias_title {
    padding: 0 0 0 45px;
    overflow: hidden;
    position: relative;
}

.tq_medias_title h1 {
    font-size: 76px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.tq_medias_sub_title {
    position: absolute;
    bottom: 4px;
    left: 6px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff;
    transform: rotate( -90deg) translateX(0)!important;
    transform-origin: left center;
}

.tq_medias_sub_title span {
    color: #ff3549;
}

.tq_medias_body {
    padding-top: 50px;
}

.tq_media {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: #21144820;
    text-align: center;
    transition: .3s cubic-bezier(.21, .04, 0, 1.07);
    position: relative;
    margin-bottom: 24px;
    transition: .3s cubic-bezier(.21, .04, 0, 1.07);
    filter: drop-shadow(0 3px 7px rgba(14, 8, 18, .44));
}

.tq_media::before,
.tq_media::after {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    width: 45px;
    border: 2px solid #36256b;
    transition: all .4s;
}

.tq_media::before {
    left: 0;
    border-radius: 6px 0 0 6px;
    border-right: none;
}

.tq_media::after {
    right: 0;
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.tq_media:hover {
    transform: translateY(-10px);
    clip-path: polygon(0 0, calc(100% - 16px) 0, 100% 16px, 100% 100%, 16px 100%, 0 calc(100% - 16px));
}

.tq_media:hover::after {
    border-top: 0;
}

.tq_media:hover::before {
    border-bottom: 0;
}

.tq_media img {
    height: auto;
    max-height: 55px;
    object-fit: contain;
}

@media(max-width:1024px) {
    .tq_medias_title h1 {
        font-size: 58px;
    }
    .tq_medias_sub_title {
        bottom: -5px;
        font-size: 11px;
    }
}

@media(max-width:992px) {
    .tq_medias {
        padding: 50px 0;
    }
}

@media(max-width:767px) {
    .tq_medias_title {
        padding-left: 30px;
    }
    .tq_medias_sub_title {
        left: 12px;
        bottom: 0;
    }
    .tq_medias_title h1 {
        font-size: 42px;
    }
    .tq_medias_sub_title {
        letter-spacing: .15em;
        font-size: 9px;
        bottom: -6px;
    }
}


/* #12. FAQs */

.tq_faqs {
    padding: 120px 0 80px 0;
}

.tq_faqs_title {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.tq_faqs_title h1 {
    font-size: 76px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
    color: #fff;
}

.tq_faqs_body {
    padding-top: 80px;
}

.tq_faqs_accordion_item {
    margin-bottom: 10px;
    background-color: transparent;
    border: 0 !important;
}

.tq_faqs_accordion_item button {
    padding: 19px 40px 19px 20px;
    color: #fff;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #2f184c;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%, 0 100%);
    position: relative;
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

.tq_faqs_accordion_item button::before {
    top: 0;
    right: -14px;
    content: "";
    position: absolute;
    background-color: #2f184c;
    width: 60px;
    height: 2px;
    transform: rotate( 45deg);
    transition: .2s;
}

.tq_faqs_accordion_item button::after {
    filter: grayscale(1) invert(1) !important;
}

.tq_faqs_accordion_item button {
    background-color: #261633 !important;
    border-color: transparent !important;
    color: #fff !important;
}

.tq_faqs_accordion_item button,
.tq_faqs_accordion_item button::before {
    background-color: #36256b80 !important;
}

.tq_faqs_accordion_item button[aria-expanded="true"] {
    font-weight: 600;
}

@media(max-width:992px) {
    .tq_faqs {
        padding: 50px 0;
    }
}

@media(max-width:767px) {
    .tq_faqs {
        padding: 50px 0;
    }
    .tq_faqs_title {
        padding-right: 30px;
    }
    .tq_faqs_sub_title {
        right: 12px;
        bottom: 0;
    }
    .tq_faqs_title h1 {
        font-size: 42px;
    }
    .tq_faqs_sub_title {
        bottom: -5px;
        letter-spacing: .1em;
        font-size: 8px;
    }
}


/* #13. Footer */

.tq_footer {
    position: relative;
    color: #a189ee;
    font-size: 14px;
    line-height: 1.43em;
    font-weight: 600;
    letter-spacing: .1em;
}

.tq_footer a {
    color: #fff;
}

.tq_footer_top {
    width: 100%;
    background-color: #170f2e;
}

.tq_footer_top_inner {
    padding: 45px 0;
}

.tg_footer_top_nav {
    display: flex;
    justify-content: space-between;
}

.tg_footer_top_nav a {
    color: #fff !important;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .1em;
    padding: 0;
    white-space: nowrap;
    text-transform: uppercase;
    position: relative;
}

.tg_footer_top_nav a:after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #ff3549;
    transform-origin: left;
    transform: scaleX(0);
    transition: .3s cubic-bezier(.47, .11, 0, .96);
}

.tg_footer_top_nav a:hover::after {
    transform: scaleX(1);
}

.tq_footer_bottom {
    width: 100%;
    background-color: #1f1834;
    position: relative;
}

.tq_footer_bottom_inner {
    padding: 50px 0 30px 0;
}

.tq_footer_bottom::before {
    content: '';
    display: block;
    background-color: #170f2e;
    width: 100%;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.tq_contract {
    position: fixed;
    bottom: 15px;
    left: 0;
    width: 100%;
}

.tq_contract_content {
    text-align: center;
    background-color: rgb(0 0 0 / 80%);
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 10px;
}

@media(max-width:767px) {
    .tg_footer_top_nav {
        flex-direction: column;
        row-gap: 20px;
    }
    .tq_footer_bottom_inner {
        font-size: 12px;
    }
}

.block_357 {
    display: none;
}

@media(max-width:357px) {
    .block_357 {
        display: block;
    }
}


/* #14. Scroll to top */

.tq_scroll_to_top {
    display: none;
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
}

#guide {
    display: block;
    bottom: 85px;
}

.tq_scroll_to_top a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0!important;
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 15px, 100% 100%, 15px 100%, 0 calc(100% - 15px))
}

.tq_scroll_to_top a::before {
    right: -18px;
}

.tq_scroll_to_top a::after {
    left: -18px;
}


/* #15. Contact Us */

.tq_contact {
    padding: 140px 0 80px 0;
    position: relative;
}

.tq_contact_title {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.tq_contact_title h1 {
    font-size: 76px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
    color: #fff;
}

.tq_contact_title p {
    font-size: 20px;
    margin-top: 10px;
}

.tq_contact_body {
    padding-top: 80px;
}

.tq_contact_social h1 {
    font-size: 40px;
}

.tq_contact_social_body {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    row-gap: 20px;
    padding-top: 20px;
}

.tq_contact_social_body a {
    font-size: 36px;
    transition: all ease-in-out .3s;
}

.tq_contact_social_body a:hover {
    color: #ff3549;
}


/*----------------------------------------------------
 list
 ----------------------------------------------------*/

ul,
ol {
    padding-left: 1.25rem;
}

ul li::marker,
ol li::marker {
    color: #6639a9;
}

.list {
    padding-left: 0;
    list-style: none;
}

.list-item {
    position: relative;
}

.list-item:not(:last-child) {
    margin-bottom: 1rem;
}

.list-item.active {
    color: #6639a9;
}

.list-item.active a {
    color: inherit;
}

.list .list {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.list-bullets .list-item {
    position: relative;
    padding-left: 1.2rem;
}

.list-bullets .list-item:before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    height: 0.375em;
    width: 0.375em;
    background-color: #6639a9;
    transform: rotate(45deg);
}

.list-border .list-item:not(:last-child) {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.list-inline {
    display: flex;
    flex-wrap: wrap;
}

.list-inline .list-item {
    margin-bottom: 0;
    white-space: nowrap;
}

.list-inline .list-item:not(:last-child) {
    margin-right: 1rem;
}

.list-inline-border .list-item {
    display: flex;
}

.list-inline-border .list-item:not(:last-child) {
    margin-right: 0;
}

.list-inline-border .list-item:not(:last-child):after {
    content: "|";
    padding: 0 1rem;
    color: #dee2e6;
}

.list-gap-0 .list-item:not(:last-child) {
    margin-bottom: 0;
}

.list-gap-0.list-border .list-item:not(:last-child) {
    padding-bottom: 0;
    margin-bottom: 0;
}

.list-gap-0.list-inline .list-item:not(:last-child) {
    margin-right: 0;
}

.list-gap-0.list-inline .list-item:not(:last-child):after {
    padding: 0 0;
}

.list-gap-1 .list-item:not(:last-child) {
    margin-bottom: 0.25rem;
}

.list-gap-1.list-border .list-item:not(:last-child) {
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
}

.list-gap-1.list-inline .list-item:not(:last-child) {
    margin-right: 0;
}

.list-gap-1.list-inline .list-item:not(:last-child):after {
    padding: 0 0.25rem;
}

.list-gap-2 .list-item:not(:last-child) {
    margin-bottom: 0.5rem;
}

.list-gap-2.list-border .list-item:not(:last-child) {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.list-gap-2.list-inline .list-item:not(:last-child) {
    margin-right: 0;
}

.list-gap-2.list-inline .list-item:not(:last-child):after {
    padding: 0 0.5rem;
}

.list-gap-3 .list-item:not(:last-child) {
    margin-bottom: 1rem;
}

.list-gap-3.list-border .list-item:not(:last-child) {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.list-gap-3.list-inline .list-item:not(:last-child) {
    margin-right: 0;
}

.list-gap-3.list-inline .list-item:not(:last-child):after {
    padding: 0 1rem;
}

.list-gap-4 .list-item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.list-gap-4.list-border .list-item:not(:last-child) {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.list-gap-4.list-inline .list-item:not(:last-child) {
    margin-right: 0;
}

.list-gap-4.list-inline .list-item:not(:last-child):after {
    padding: 0 1.5rem;
}

.list-gap-5 .list-item:not(:last-child) {
    margin-bottom: 3rem;
}

.list-gap-5.list-border .list-item:not(:last-child) {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.list-gap-5.list-inline .list-item:not(:last-child) {
    margin-right: 0;
}

.list-gap-5.list-inline .list-item:not(:last-child):after {
    padding: 0 3rem;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

@media(max-width:992px) {
    .tq_contact {
        padding: 50px 0;
    }
    .nav-item .nav-link {
        text-align: center !important;
    }
    .tq_navigation_navbar_nav {
        align-items: center !important;
    }
    #NAVBAR_HOME {
        border-top: 1px #7c7593 solid;
        padding-top: 20px;
        padding-bottom: 15px;
    }
}

@media(max-width:767px) {
    .tq_contact {
        padding: 50px 0;
    }
    .tq_contact_title {
        padding-right: 30px;
    }
    .tq_contact_sub_title {
        right: 12px;
        bottom: 0;
    }
    .tq_contact_title h1 {
        font-size: 40px;
    }
    .tq_contact_sub_title {
        bottom: -5px;
        letter-spacing: .1em;
        font-size: 8px;
    }
}

@media(max-width:576px) {
    .tq_contact_social_body a {
        font-size: 30px;
    }
    .tq_contact_social_body {
        column-gap: 30px;
    }
}

@media (min-width: 1200px) {
    .modal-lg {
        max-width: 960px;
    }
    .tq_navigation_navbar {
        padding-top: 0 !important;
    }
}

.particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.blink {
    animation: blink-animation 1.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
}

.blink2 {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

a:hover .blink,
a:hover .blink2 {
    opacity: 1 !important;
    animation: none
}

@keyframes blink-animation {
    25% {
        opacity: 1;
    }
    50% {
        opacity: .2;
    }
    75% {
        opacity: 1;
    }
}

@-webkit-keyframes blink-animation {
    25% {
        opacity: 1;
    }
    50% {
        opacity: .2;
    }
    75% {
        opacity: 1;
    }
}

.particles-js {
    z-index: 1;
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
    z-index: 3;
}

.tq_footer,
main {
    position: relative;
    z-index: 2;
}

.tq_header a {
    z-index: 2;
}

.fixed-width {
    width: 160px !important;
}


/* SOCIAL BAR */

.sm-iconbar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
    display: flex;
    flex-direction: column;
    z-index: 9;
    border-radius: 3px;
    transition: all ease-in-out .3s;
    background-color: rgba(0, 0, 0, .3);
    padding-top: 5px;
    padding-bottom: 5px;
}

.sm-iconbar:hover {
    background-color: rgba(255, 255, 255, .1);
    right: 24px;
}

.sm-iconbar a {
    display: flex;
    width: 42px;
    height: 42px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all ease-in-out .3s;
    color: rgba(255, 255, 255, .7);
    font-size: 24px;
    transform-origin: center center;
}

.sm-iconbar a:hover {
    color: #fff;
    transform: scale(1.1);
}

@media(max-width:767px) {
    .sm-iconbar {
        top: auto;
        bottom: 135px;
        transform: none;
    }
    .sm-iconbar a {
        margin-bottom: 0;
    }
}


/* FOOTER MOBILE HIDE */

@media(max-width:767px) {
    .mobile-hide {
        display: none;
    }
}